<div class="column">
    <nav class="panel">
        <p class="panel-heading">
            Trends
        </p>
        <p class="panel-block">
            I Have M1 Pro Envy
        </p>
        <p class="panel-block">
            I Gave Money To These Programmers
        </p>
        <p class="panel-block">
            How To Do A Day of Meetings
        </p>
        <p class="panel-block">
            I Have To Become A Better Storyteller
        </p>
        <p class="panel-block">
            Zebras, Horses & CycleGAN
        </p>
        <p class="panel-block">
            Discussing System On Chip (SoC)
        </p>
    </nav>
</div>