<div class="column">
    <nav class="panel">
        <p class="panel-heading">
            What's New
        </p>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://www.kindpng.com/picc/m/159-1595848_python-logo-png-transparent-background-python-logo-png.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            Poster Python Community
                        </strong>
                        <br>
                        <small>
                            2.570 members
                        </small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://www.kindpng.com/picc/m/25-255340_ruby-on-rails-png-png-download-best-ruby.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            Ruby on Rails for Beginners
                        </strong>
                        <br>
                        <small>
                            5.100 members
                        </small>
                    </p>
                </div>
            </div>
        </article>
    </div>
        <div class="panel-block">
        <article class="media">
            <div class="media-content">
                <div class="content level">
                    <p>
                        <small>
                            <a>See More</a>
                        </small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    </nav>   
</div>