<div class="column">
    <nav class="panel">
        <p class="panel-heading">
            Who to Follow
        </p>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://www.youloveit.com/uploads/posts/2019-11/1575154627_youloveit_com_frozen_2_cute_profile_images03.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            John Smith
                        </strong>
                        <small>
                            @johnsmith
                        </small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://alrigh.com/wp-content/uploads/2020/06/12-ice-bear-profile-picture.jpg">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            Carl Mason
                        </strong>
                        <small>
                            @carlmason
                        </small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    </nav>   
</div>